<h1>Buchformular</h1>
<form class="ui large form"
  #myForm="ngForm"
  (ngSubmit)="submitForm()">

  <div class="field">
    <label>Buchtitel</label>
    <input name="title" required
    [(ngModel)]="book.title">
    <div *ngIf="errors.title" class="ui negative message">
      {{ errors.title }}
    </div>
  </div>

  <div class="field">
    <label>Autor</label>
    <input name="author" required [(ngModel)]="book.author">
    <div *ngIf="errors.author" class="ui negative message">
      {{ errors.author }}
    </div>
  </div>

  <div class="field">
    <label>Erscheinungsdatum</label>
    <input type="date" name="year" useValueAsDate required [(ngModel)]="book.year">
    <div *ngIf="errors.year" class="ui negative message">
      {{ errors.year }}
    </div>
  </div>

  <div class="field">
    <label>Verlag</label>
    <input name="publisher" required [(ngModel)]="book.publisher">
    <div *ngIf="errors.publisher" class="ui negative message">
      {{ errors.publisher }}
    </div>
  </div>

  <div class="field">
    <label>Preis</label>
    <input name="price" required [(ngModel)]="book.price">
    <div *ngIf="errors.price" class="ui negative message">
      {{ errors.price }}
    </div>
  </div>
  <div class="field">
    <label>ID</label>
    <input name="id" required minlength="2" maxlength="8" [(ngModel)]="book.id">
    <div *ngIf="errors.id" class="ui negative message">
      {{ errors.id }}
    </div>
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea name="description" rows="3" [(ngModel)]="book.description"></textarea>
  </div>


  <button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>
</form>